version: '3.8'

services:
  nginx:
    image: nginx:latest
    ports:
      - "40049:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped
    depends_on:
      frontend:
        condition: service_healthy
      api:
        condition: service_healthy

  frontend:
    build: .
    command: sh -c "gunicorn --workers 1 --worker-class gevent --bind 0.0.0.0:5000 run:app"
    volumes:
      - sqlite_data:/app/data
    env_file:
      - ./.env
    restart: on-failure:3
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000"]
      interval: 5s
      timeout: 3s
      retries: 5
    depends_on:
      api:
        condition: service_healthy

  api:
    build: .
    command: sh -c "alembic -c migrations/alembic.ini upgrade head && uvicorn main:app --host 0.0.0.0 --port 5001"
    volumes:
      - sqlite_data:/app/data
    env_file:
      - ./.env
    restart: on-failure:3
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5001/health"]
      interval: 5s
      timeout: 3s
      retries: 5
    depends_on:
      redis:
        condition: service_healthy

  bot:
    build: .
    command: sh -c "python bot.py"
    volumes:
      - sqlite_data:/app/data
    env_file:
      - ./.env
    restart: on-failure:3
    depends_on:
      redis:
        condition: service_healthy

  worker:
    build: .
    command: sh -c "python worker.py"
    volumes:
      - sqlite_data:/app/data
    env_file:
      - ./.env
    restart: on-failure:3
    depends_on:
      redis:
        condition: service_healthy

  clock:
    build: .
    command: sh -c "python clock.py"
    volumes:
      - sqlite_data:/app/data
    env_file:
      - ./.env
    restart: on-failure:3
    depends_on:
      redis:
        condition: service_healthy
      api:
        condition: service_healthy

  redis:
    image: redis:alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped

volumes:
  sqlite_data: