Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
pydantic
alembic
gunicorn
python-dotenv
APScheduler
python-telegram-bot
redis
rq
fastapi
uvicorn
httpx
python-jose[cryptography]
passlib[bcrypt]
python-multipart
