name: Deploy on Release

on:
  push:
    tags:
      - 'release-*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            # Make sure the deployment script is executable
            # chmod +x /home/${{ secrets.SERVER_USER }}/goat-system/scripts/deploy_docker.sh
            # Execute the new Docker deployment script
            /var/www/goat-system/scripts/deploy_docker.sh
